@use "./helpers" as *;
@use "./styles/app";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", "Montserrat", sans-serif;
  background: #f5f6f8;
}

a {
  color: inherit;
}
