.yandex-map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.yandex-map-element {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.yandex-map-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  z-index: 1;
}

.yandex-map-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background: #fffbe6;
}

