@forward "reset";

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Thin.eot");
  src: url("../../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype");
  // url("../../fonts/Montserrat-Thin.woff2") format("woff2"),
  // url("../../fonts/Montserrat-Thin.woff") format("woff"),
  // url("../../fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
